<nav>
    <ul>
      <li><a href="/"> Home</a></li>
      <li><a href="/movies"> List</a></li>
      <li><a href="/about"> About</a></li> 
    </ul>
    <!-- route button handled in react -->
  </nav>