<!DOCTYPE html>
<html lang="en">

<!-- server renders html and react in this case handels movie list -->
<head>
  <meta charset="utf-8">
  <title>Jason Ure - Movie Sort</title>
  <link rel="icon" href="./images/graduation-hat.svg"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">

  <!-- Don't change the paths of the following two lines - They are produced by webpack-->
  <link rel="stylesheet" href="stylesheets/main.css">
  <script src="javascripts/main.js" defer></script>
</head>
<!-- bringing html server side // kind of like php // this is scriplet // example if statement -->
<body>
    <div class="container">

        <%- include("partials/_header") %> 
        <%- include("partials/_nav") %> 
        <% if (content) { %> 
            <%- include(content) %> 
        <% } else { %> 
            <p>Nothing to display</p>
        <% } %>
        
    </div>
        <%- include("partials/_footer") %> 
</body>
</html>
